<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<body>
<h1>Posts</h1>
{% for post in posts %}
    <div>
        <h4>{{ post.title }}</h4>
        <p>
            {{ post.body }}
        </p>
    </div>
{% endfor %}
</body>

</html>